  <a id="tm-nav-expander">
  </a>
  <!-- #tm-nav-expander -->

  <nav>
    <div class="tm-container">
      <a id="tm-home-logo" href="/">
        <img src="<%= asset_path "nav-logo.png" %>" />
      </a>
      <!-- #tm-home-logo -->
      <ul id="tm-menu" href="#">
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'home'}" href="/"><i class="ss-icon ss-home"></i>Home</a></li>
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'profile'}" href="/profile"><i class="ss-icon ss-user"></i>Profile</a></li>
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'edit_profile'}" href="/edit_profile"><i class="ss-icon ss-write"></i>Edit Profile</a></li>
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'matches'}" href="/matches"><i class="ss-icon ss-heartuser"></i>Matches</a></li>
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'filter'}" href="/filter"><i class="ss-icon ss-home"></i>Filters</a></li>
        <li><a ng-class="{'tm-nav-current' : $route.current.activetab == 'messages'}" href="/messages"><i class="ss-icon ss-mail"></i>Messages</a></li>
      </ul>
      <!-- #tm-menu -->
    </div>
    <!-- .tm-container -->
  </nav>