  <a id="tm-nav-expander">
  </a>
  <!-- #tm-nav-expander -->

  <nav>
    <div class="tm-container">
      <a id="tm-home-logo" href="/">
        <img src="<%= asset_path "logo.png" %>" />
      </a>
      <!-- #tm-home-logo -->
      <ul id="tm-menu" href="#">
        <li><a href="/"><i class="ss-icon ss-home"></i>Home</a></li>
        <li><a href="/profile"><i class="ss-icon ss-user"></i>Profile</a></li>
        <li><a href="/edit_profile"><i class="ss-icon ss-write"></i>Edit Profile</a></li>
        <li><a href="/matches"><i class="ss-icon ss-heartuser"></i>Matches</a></li>
        <li><a href="/filter"><i class="ss-icon ss-home"></i>Filters</a></li>
        <li><a href="/messages"><i class="ss-icon ss-mail"></i>Messages</a></li>
        <li><%= link_to "FB Auth", user_omniauth_authorize_path(:facebook), :target => "_self" %></li>
      </ul>
      <!-- #tm-menu -->
    </div>
    <!-- .tm-container -->
  </nav>