<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

<i class="ss-icon">◅</i>
<br />
<br />


<!-- Modals look something like this: -->
<a href="#dialog" class="modal-open">Open modal</a>
 
<div id="dialog" class="modal" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>