@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Color Theme
      - Media Size Breakpoints
      - Susy Grid Settings
      - Font Stacks
      - Z Indices

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Paragraph Variations
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$font-header-color: #333835;
$font-body-color: #333835;

$red: #ee3a2e;
$dark-red: #de0d08;
$blue: #54a4a3;
$beige: #dfdcca;
$charcoal: #333835;

$white: #ffffff;
$grey: #c2c7c4;
$light-grey: #e7e9e7;


/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns: 12;
$column-width: 56px;
$gutter-width: 48px;
$grid-padding: 0;


/* Font Stacks */
/************************************************/

$accent-font: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$body-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";


/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {
  height: 100%;
}


/* Body */
/************************************************/

body {
  height: 100%;
  font-size: 16px;
  font-family: $body-font;
  line-height: 30px;
  color: $font-body-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {}

h1 {
  font-family: $accent-font;
  font-size: 84px;
  line-height: 100px;
  color: $font-header-color;
  @include screen-format(nano) {
    font-size: 64px;
    line-height: 80px;
  }
}
h2 {
  font-family: $accent-font;
  font-size: 50px;
  line-height: 70px;
  color: $font-header-color;
  @include screen-format(nano) {
    font-size: 40px;
    line-height: 60px;
  }
}
h3 {
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
}
h4 {}
h5 {}
h6 {}

hr {
  width: 100%;
  height: 1px;
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
  color: $light-grey;
  background: $light-grey;
}

strong { font-weight: 700; }
em { font-style: italic; }

p {
  margin: 0 0 20px 0;
}

label {
  display: inline-block;
}

input,
textarea,
select {
  display: inline-block;
  font-family: $body-font;
  font-size: 14px;
  line-height: 30px;
}

input:focus,
textarea:focus,
select:focus { outline: none; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px 14px 10px 14px;
  border: 1px solid $grey;
  color: $font-body-color;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

select {
  padding: 9px 15px 11px 15px;
}

a {
  color: $red;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* List Variations */
/************************************************/

ul.tm-list-small,
ol.tm-list-small {
  list-style-type: disc;
  @include span-columns(8 omega, 12);
  @include prefix(2);
  @include suffix(2);
  margin: 0 auto 20px auto;
  @include screen-format(phone) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
  }
  @include screen-format(nano) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
  }
  li {
    padding: 0 40px 0 0;
    position: relative;
    left: 40px;
    @include legacy-pie-clearfix;
    > select {
      float: right;
      width: 120px;
      margin: 0 0 10px 0;
    }
  }
  > label {
    width: 100%;
  }
  > input[type="text"],
  > input[type="email"],
  > input[type="password"],
  > textarea,
  select {
    @include screen-format(phone) {
      width: 100%;
      margin: 0 0 5px 0;
    }
    @include screen-format(nano) {
      width: 100%;
      margin: 0 0 5px 0;
    }
  }
}

/* Paragraph Variations */
/************************************************/

p.tm-disclaimer,
p.tm-paragraph-small {
  @include span-columns(8 omega, 12);
  @include prefix(2);
  @include suffix(2);
  margin: 0 auto 30px auto;
  @include screen-format(phone) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
  }
  @include screen-format(nano) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
  }
}

p.tm-disclaimer {
  font-size: 14px;
  text-align: center;
}

/* Buttons */
/************************************************/

.tm-button,
input[type="submit"],
button {
  display: inline-block;
  padding: 9px 20px;
  margin: 0;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid $dark-red;
  border-left: none;
  color: $white;
  background: $red;
  font-size: 20px;
  font-weight: 700;
  font-family: $body-font;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

.tm-button:active,
input[type="submit"]:active,
button:active {
  position: relative;
  top: 2px;
}

.tm-button:hover,
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
  @include opacity(.66);
}

.tm-button:focus,
input[type="submit"]:focus,
button:focus {
  outline: none;
}

.tm-button:before,
input[type="submit"]:before,
button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

#tandem {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  a#tm-nav-expander {
    display: none;
    visibility: hidden;
    position: fixed;
    @include transition-property(left);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in); 
    @include transition-delay(0);
    @include screen-format(phone) {
      display: block;
      visibility: visible;
      width: 100%;
      height: 65px;
      z-index: 600;
      left: 0;
      background: $white image-url("nav-expander.png") no-repeat 30px 20px;
      @include box-shadow(0 3px 3px -3px $charcoal);
    }
    @include screen-format(nano) {
      display: block;
      visibility: visible;
      width: 100%;
      height: 65px;
      z-index: 600;
      left: 0;
      background: $white image-url("nav-expander.png") no-repeat 30px 20px;
      @include box-shadow(0 3px 3px -3px $charcoal);
    }
  }

  a#tm-nav-expander:hover {
    // @include opacity(.66);
  }

  > nav,
  > section {
    display: block;
    float: left;
    width: 100%;
    .tm-container {
      display: block;
      height: 100%;
      padding: 0 20px;
      margin: 0 auto;
      @include legacy-pie-clearfix;
      @include screen-format(monitor) {
        width: $monitor-breakpoint - 40px; // The subtraction of 40px accounts for the container padding.
      }
      > .tm-button,
      > input[type="submit"],
      > button {
        @include screen-format(phone) {
          width: 100%;
          text-align: center;
        }
        @include screen-format(nano) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  > nav {
    height: 130px;
    position: fixed;
    z-index: 500;
    @include transition-property(box-shadow, margin, background, opacity);
    @include transition-duration(0.15s, 0.15s, 0.15s, 0);
    @include transition-timing-function(ease-in, ease-in, ease-in, ease-in); 
    @include transition-delay(0, .05s, 0, .25s);
    @include screen-format(phone) {
      width: 360px;
      height: 100%;
      background: $charcoal;
      z-index: 0;
      text-align: center;
      @include opacity(0);
      @include transition-duration(0, 0, 0);
    }
    @include screen-format(nano) {
      width: 256px;
      height: 100%;
      background: $charcoal;
      z-index: 0;
      text-align: center;
      @include opacity(0);
      @include transition-duration(0, 0, 0);
    }
    .tm-container {
      @include screen-format(phone) {
        padding: 0;
      }
      @include screen-format(nano) {
        padding: 0;
      }
    }
    a#tm-home-logo {
      display: block;
      float: left;
      padding: 20px;
      margin: 19px 0 0 -20px;
      @include screen-format(phone) {
        display: inline-block;
        float: none;
        margin: 19px auto 0 auto;
        
      }
      @include screen-format(nano) {
        display: inline-block;
        float: none;
        margin: 19px auto 0 auto;
        text-align: center;
      }
      img {
        display: block;
        float: left;
        width: 102px;
        height: 76px;
        @include screen-format(phone) {
          display: inline-block;
          float: none;
        }
        @include screen-format(nano) {
          display: inline-block;
          float: none;
        }
      }
    }
    a#tm-home-logo:hover {
      @include opacity(.66);
    }
    ul#tm-menu {
      display: block;
      float: right;
      padding: 50px 0;
      @include screen-format(phone) {
        width: 100%;
        padding: 10px 0 0 0;
        text-align: left;
      }
      @include screen-format(nano) {
        width: 100%;
        padding: 10px 0 0 0;
        text-align: left;
      }
      > li {
        display: block;
        float: left;
        margin: 0 0 0 40px;
        @include screen-format(laptop) {
          margin: 0 0 0 30px;
        }
        @include screen-format(tablet) {
          margin: 0 0 0 10px;
        }
        @include screen-format(phone) {
          width: 100%;
          margin: 0;
        }
        @include screen-format(nano) {
          width: 100%;
          margin: 0;
        }
        > a {
          display: block;
          float: left;
          padding: 5px 2px 14px 2px;
          color: $font-header-color;
          font-family: $accent-font;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 20px;
          i.ss-icon {
            display: none;
          }
          @include screen-format(phone) {
            width: 100%;
            padding: 9px 0 10px 20px;
            color: $beige;
            @include box-sizing(border-box);
            i.ss-icon {
              display: inline-block;
              margin: 0 10px 0 0;
              position: relative;
              top: 2px;
            }
          }
          @include screen-format(nano) {
            width: 100%;
            padding: 9px 0 10px 20px;
            color: $beige;
            @include box-sizing(border-box);
            i.ss-icon {
              display: inline-block;
              margin: 0 10px 0 0;
              position: relative;
              top: 2px;
            }
          }
        }
      }
      > li:hover,
      > li.tm-nav-current {
        > a {
          text-decoration: none;
          @include screen-format(phone) {
            padding: 9px 0 10px 16px;
            border-left: 4px solid $red;
            color: $red;
            background: rgba(0, 0, 0, .15);
          }
          @include screen-format(nano) {
            padding: 9px 0 10px 16px;
            border-left: 4px solid $red;
            color: $red;
            background: rgba(0, 0, 0, .15);
          }
        }
      }
    }
  }
  > nav.tm-nav-shadow-state {
    background: $white;
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.25));
    @include screen-format(phone) {
      background: $charcoal;
      @include box-shadow(none);
    }
    @include screen-format(nano) {
      background: $charcoal;
      @include box-shadow(none);
    }
  }
  > nav.tm-nav-drop-state {
    margin-top: -137px;
  }
  > nav.tm-nav-drop-state:hover {
    margin-top: 0;
  }

  > section {
    height: 100%;
    position: relative;
    background: $beige;
    overflow: scroll;
    @include transition-property(left);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in); 
    @include transition-delay(0);
  }

}


#tandem.tm-nav-expanded-state {
  a#tm-nav-expander {
    @include screen-format(phone) {
      left: 360px;
    }
    @include screen-format(nano) {
      left: 256px;
    }
  }
  > nav {
    @include opacity(1);
    @include transition-property(box-shadow, opacity);
    @include transition-duration(0.25s, 0);
    @include transition-delay(0.25s, 0);
    @include transition-timing-function(ease-in, ease-in);
    @include screen-format(phone) {
      display: block;
      @include box-shadow(-2px 0px 7px -3px #000000 inset);
    }
    @include screen-format(nano) {
      display: block;
      @include box-shadow(-2px 0px 7px -3px #000000 inset);
    }
  }
  > section {
    @include screen-format(phone) {
      left: 360px;
      z-index: 520;
    }
    @include screen-format(nano) {
      left: 256px;
      z-index: 520;
    }
  }
}


#tm-filters {
  margin: 90px 0 0 0;
  > h5 {
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    font-style: italic;
  }
}

.tm-filter-true {
  background-color: #d1cdb5;
}


ul.tm-filter-scene,
ul.tm-filter-goals,
ul.tm-filter-speed,
ul.tm-filter-availability,
ul.tm-filter-location,
ul.tm-filter-skill {
  margin: 0 0 30px 0;
  @include span-columns(12 omega, 12);
  li {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: $accent-font;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    @include span-columns(4, 12);
    @include border-radius(3px);
    > span {
      display: block;
      margin: 10px auto 10px auto;
      width: 80%;
      height: 80%;
      min-height: 88px;
      @include background-size(cover !important);
    }
  }
  li:nth-child(3n) {
    @include span-columns(4 omega, 12);
  }
}

span.tm-filter-location-off-road { background: transparent url("icon_offroad.png") no-repeat 0 0; }
span.tm-filter-location-paved-trail { background: transparent url("icon_pavedtrails.png") no-repeat 0 0; }
span.tm-filter-location-road { background: transparent url("icon_roads.png") no-repeat 0 0; }

span.tm-filter-skill-beginner { background: transparent url("icon_beginner.png") no-repeat 0 0; }
span.tm-filter-skill-intermediate { background: transparent url("icon_intermediate.png") no-repeat 0 0; }
span.tm-filter-skill-advanced { background: transparent url("icon_advanced.png") no-repeat 0 0; }

span.tm-filter-speed-casual { background: transparent url("icon_casual.png") no-repeat 0 0; }
span.tm-filter-speed-confident { background: transparent url("icon_confident.png") no-repeat 0 0; }
span.tm-filter-speed-fast { background: transparent url("icon_fast.png") no-repeat 0 0; }
span.tm-filter-speed-crazyfast { background: transparent url("icon_crazyfast.png") no-repeat 0 0; }

span.tm-match-day-morning { background: transparent url("icon_morning.png") no-repeat 0 0; }
span.tm-match-day-afternoon { background: transparent url("icon_afternoon.png") no-repeat 0 0; }
span.tm-match-day-evening { background: transparent url("icon_evening.png") no-repeat 0 0; }
span.tm-match-day-all { background: transparent url("icon_anytime.png") no-repeat 0 0; }
span.tm-match-day-none { background: transparent url("icon_never.png") no-repeat 0 0; }

span.tm-filter-goals-training { background: transparent url("icon_training.png") no-repeat 0 0; }
span.tm-filter-goals-leisure { background: transparent url("icon_leisure.png") no-repeat 0 0; }
span.tm-filter-goals-commuting { background: transparent url("icon_commuting.png") no-repeat 0 0; }
span.tm-filter-goals-exercise { background: transparent url("icon_exercise.png") no-repeat 0 0; }

span.tm-filter-scene-fixie { background: transparent url("icon_fixie.png") no-repeat 0 0; }
span.tm-filter-scene-mountainbiker { background: transparent url("icon_mountainbiker.png") no-repeat 0 0; }
span.tm-filter-scene-roadie { background: transparent url("icon_roadie.png") no-repeat 0 0; }
span.tm-filter-scene-socialrider { background: transparent url("icon_socialrider.png") no-repeat 0 0; }
span.tm-filter-scene-commuter { background: transparent url("icon_weekdaycommuter.png") no-repeat 0 0; }
span.tm-filter-scene-weekendwarrior { background: transparent url("icon_weekendwarrior.png") no-repeat 0 0; }

span.tm-logo {
  display: block;
  margin: 150px auto 80px auto;
  width: 164px;
  height: 123px;
  background: transparent url("home-logo.png") no-repeat 0 0;
  @include background-size(cover !important);
}

ol#tm-matches {
  margin: 90px 0 0 0;
}

ol#tm-matches > li.tm-match,
#tm-profile {
  display: inline-block;
  padding: 10px;
  margin: 0 0 10px 0;
  background: $white;
  font-size: 14px;
  line-height: 25px;
  overflow-x: hidden;
  @include border-radius(6px);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .15));
  > p {
    margin: 0 0 15px 0;
  }
  > h5 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
  }
  > header {
    margin: 0 0 15px 0;
    @include span-columns(12 omega, 12);
    .tm-match-image {
      min-height: 104px;
      max-height: 104px;
      background: $grey;
      @include border-radius(2px);
      @include screen-format(phone) {
        @include span-columns(4, 12);
      }
      @include screen-format(nano) {
        @include span-columns(4, 12);
      }
      text-align: center;
      overflow:hidden;
      img {
        width: 100%;
      }
    }
    .tm-match-data {
      margin: 5px 0 0 0;
      @include screen-format(phone) {
        @include span-columns(8 omega, 12);
      }
      @include screen-format(nano) {
        @include span-columns(8 omega, 12);
      }
      h3 {
        width: 100%;
        font-size: 30px;
        line-height: 40px;
      }
      h4 {
        width: 100%;
        margin: 0 0 5px 0;
        font-family: $accent-font;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 700;
        @include opacity(.5);
        > span {
          color: $red;
        }
      }
    }
  }
}

#tm-profile {
  width: 100%;
  margin: 90px 0 0 0;
  @include box-sizing(border-box);
  > header {
    margin-bottom: 25px;
  }
}



ol.tm-match-days {
  margin: 8px 0 0 0;
  height: 30px;
  background: $blue;
  @include border-radius(2px);
  @include span-columns(7 omega, 7);
  > li {
    display: inline-block;
    float: left;
    width: 14.28%;
    height: 30px;
    overflow: hidden;
    color: $white;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    font-family: $accent-font;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
  }
  > li:nth-child(1) {
    @include border-radius(2px 0 0 2px);
  }
  > li:nth-child(7) {
    @include border-radius(0 2px 2px 0);
  }
}


.tm-tag.tm-tag-grey {
  background: $grey;
  a {
    color: $white;
  }
}
.tm-tag {
  display: inline-block;
  padding: 1px 10px 0 10px;
  margin: 0;
  color: $white;
  background: $red;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  font-family: $accent-font;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

.tm-match-day-morning {   background: #469594; }
.tm-match-day-afternoon { background: #388685; }
.tm-match-day-evening {   background: #2a7877; }
.tm-match-day-all {       background: #1c6968; }
.tm-match-day-none {      background: #54a4a3; }




