<div id="tm-profile">

  <header>
    <div class="tm-match-image">
      <img ng-src="{{dataModel['image_large']}}" />
    </div>
    <!-- .tm-match-image -->
    <div class="tm-match-data">
      <h3>{{dataModel.data["first_name"]}}</h3>
      <h4>{{dataModel.data["gender"]}}, {{dataModel.data["age"]}}</h4>
    </div>
    <!-- .tm-match-data -->
  </header>

  <hr />

  <h5>My Experience Level ...</h5>
  <ul class="tm-list-small">
    <select ng-model="selectedExperience" ng-change="changeExperience( selectedExperience )">
      <option value="">Please Select...</option>
      <option ng-selected="user.data['skill']['beginner']" value="beginner">Beginner</option>
      <option ng-selected="user.data['skill']['intermediate']" value="intermediate">Intermediate</option>
      <option ng-selected="user.data['skill']['advaned']" value="advaned">Advanced</option>
    </select>

  </ul>
  <!-- .tm-list-small -->

  <hr />

  <h5>My Favorite Place to Ride ...</h5>
  <ul class="tm-list-small">
    <label>
      <input type="checkbox" ng-change="changeLocation()" ng-model="dataModel.data['location']['offroad']" ng-selected="dataModel.data['location']['offroad']">
      Off Road
    </label>
    <label>
      <input type="checkbox" ng-change="changeLocation()" ng-model="dataModel.data['location']['paved_trail']" ng-selected="dataModel.data['location']['paved_trail']">
      Paved Trail
    </label>
    <label>
      <input type="checkbox" ng-change="changeLocation()" ng-model="dataModel.data['location']['road']" ng-selected="dataModel.data['location']['road']">
      Roads
    </label>

  </ul>
  <!-- .tm-list-small -->

  <hr />

  <h5>I Like to Ride For ...</h5>
  <ul class="tm-list-small">
    <label>
      <input type="checkbox" ng-change="changeLooking()" ng-model="dataModel.data['looking_for']['training']" ng-selected="dataModel.data['looking_for']['training']">
      Training
    </label>
    <label>
      <input type="checkbox" ng-change="changeLooking()" ng-model="dataModel.data['looking_for']['fun']" ng-selected="dataModel.data['looking_for']['fun']">
      Fun
    </label>
    <label>
      <input type="checkbox" ng-change="changeLooking()" ng-model="dataModel.data['looking_for']['commuting']" ng-selected="dataModel.data['looking_for']['commuting']">
      Commuting
    </label>
    <label>
      <input type="checkbox" ng-change="changeLooking()" ng-model="dataModel.data['looking_for']['destination']" ng-selected="dataModel.data['looking_for']['destination']">
      Destination
    </label>
  
  </ul>
  <!-- .tm-list-small -->

  <hr />

  <h5>My Bike Identity Is ...</h5>
  <ul class="tm-list-small">
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['weekend_warrior']" ng-selected="dataModel.data['scene']['weekend_warrior']">
      Weekend Warrior
    </label>
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['commuter']" ng-selected="dataModel.data['scene']['commuter']">
      Commuter
    </label>
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['mountain']" ng-selected="dataModel.data['scene']['mountain']">
      Mountain Biking
    </label>
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['fixies']" ng-selected="dataModel.data['scene']['fixies']">
      Fixed Gear
    </label>
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['social']" ng-selected="dataModel.data['scene']['social']">
      Social
    </label>
    <label>
      <input type="checkbox" ng-change="changeScene()" ng-model="dataModel.data['scene']['roadie']" ng-selected="dataModel.data['scene']['roadie']">
      Roadie
    </label>
  </ul>
  <!-- .tm-list-small -->

  <hr />

  <h5>Here's When I Like to Ride ...</h5>

  <ul class="tm-list-small">
    <li>
      <strong>Sundays:</strong> 
      <span ng-if="user.data['availability']['sunday']">{{dataModel.data['availability']['sunday']}}</span>
      <select ng-model="selectedSchedule['sunday']" ng-change="changeSchedule( 'sunday', selectedSchedule['sunday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['sunday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['sunday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['sunday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Mondays:</strong> 
      <span ng-if="user.data['availability']['monday']">{{dataModel.data['availability']['monday']}}</span>
      <select ng-model="selectedSchedule['monday']" ng-change="changeSchedule( 'monday', selectedSchedule['monday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['monday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['monday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['monday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Tuesdays:</strong> 
      <span ng-if="user.data['availability']['tuesday']">{{dataModel.data['availability']['tuesday']}}</span>
      <select ng-model="selectedSchedule['tuesday']" ng-change="changeSchedule( 'tuesday', selectedSchedule['tuesday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['tuesday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['tuesday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['tuesday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Wednesdays:</strong> 
      <span ng-if="user.data['availability']['wednesday']">{{dataModel.data['availability']['wednesday']}}</span>
      <select ng-model="selectedSchedule['wednesday']" ng-change="changeSchedule( 'wednesday', selectedSchedule['wednesday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['wednesday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['wednesday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['wednesday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Thursdays:</strong> 
      <span ng-if="user.data['availability']['thursday']">{{dataModel.data['availability']['thursday']}}</span>
      <select ng-model="selectedSchedule['thursday']" ng-change="changeSchedule( 'thursday', selectedSchedule['thursday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['thursday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['thursday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['thursday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Fridays:</strong> 
      <span ng-if="user.data['availability']['friday']">{{dataModel.data['availability']['friday']}}</span>
      <select ng-model="selectedSchedule['friday']" ng-change="changeSchedule( 'friday', selectedSchedule['friday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['friday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['friday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['friday'] == 'Evening'">Evening</option>
      </select>
    </li>
    <li>
      <strong>Saturdays:</strong> 
      <span ng-if="user.data['availability']['saturday']">{{dataModel.data['availability']['saturday']}}</span>
      <select ng-model="selectedSchedule['saturday']" ng-change="changeSchedule( 'saturday', selectedSchedule['saturday'] )">>
        <option value="">Off Day</option>
        <option ng-selected="user.data['availability']['saturday'] == 'Morning'">Morning</option>
        <option ng-selected="user.data['availability']['saturday'] == 'Afternoon'">Afternoon</option>
        <option ng-selected="user.data['availability']['saturday'] == 'Evening'">Evening</option>
      </select>
    </li>
  </ul>
  <!-- .tm-list-small -->

  <hr />

  <h5>Here's How I Introduce Myself ...</h5>

  <ul class="tm-list-small">
    <textarea ng-model="selectedSummary" ng-change="changeSummary( selectedSummary )">{{dataModel.data['summary']}}</textarea>
  </ul>
  <!-- .tm-list-small -->

</div>
<!-- #tm-profile -->













