<h1>Matches</h1>

<ol id="tm-matches">
  <li class="tm-match" ng-repeat="match in filteredMatches = ( matches | filter:ageFilterMin | filter:ageFilterMax | filter:locationFilter | filter:sceneFilter | filter:skillFilter | filter:lookingForFilter | filter:availabilityFilter )">
    <header>
      <div class="tm-match-image">
        <img ng-src="{{match.image_large}}" />
      </div>
      <!-- .tm-match-image -->
      <div class="tm-match-data">
        <h3>{{match.data["first_name"]}}</h3>
        <h4><span>{{match.score}}% Match</span> | {{match.data["gender"]}}, {{match.data["age"]}}</h4>
        <span class="tm-tag" ng-if="match.data['skill']['beginner'] == true">Beginner</span>
        <span class="tm-tag" ng-if="match.data['skill']['intermediate'] == true">Intermediate</span>
        <span class="tm-tag" ng-if="match.data['skill']['advanced'] == true">Advanced</span>
      </div>
      <!-- .tm-match-data -->
    </header>
    <p>{{match.data["summary"]}}</p>



    <span class="tm-tag" ng-if="match.data['location']['offroad'] == true">Off Road</span>
    <span class="tm-tag" ng-if="match.data['location']['paved_trail'] == true">Paved Trail</span>
    <span class="tm-tag" ng-if="match.data['location']['road'] == true">Road</span>
    <span class="tm-tag" ng-if="
      match.data['location']['offroad'] == false &&
      match.data['location']['paved_trail'] == false &&
      match.data['location']['road'] == false">No preferred location.</span>

    <span class="tm-tag" ng-if="match.data['looking_for']['training'] == true">Training</span>
    <span class="tm-tag" ng-if="match.data['looking_for']['fun'] == true">Fun</span>
    <span class="tm-tag" ng-if="match.data['looking_for']['commuting'] == true">Commuting</span>
    <span class="tm-tag" ng-if="match.data['looking_for']['destination'] == true">Destination</span>

    <span class="tm-tag" ng-if="match.data['scene']['weekend_warrior'] == true">Weekend Warrior</span>
    <span class="tm-tag" ng-if="match.data['scene']['commuter'] == true">Commuter</span>
    <span class="tm-tag" ng-if="match.data['scene']['mountain'] == true">Mountain Biking</span>
    <span class="tm-tag" ng-if="match.data['scene']['fixies'] == true">Fixed Gear</span>
    <span class="tm-tag" ng-if="match.data['scene']['social'] == true">Social</span>
    <span class="tm-tag" ng-if="match.data['scene']['roadie'] == true">Roadie</span>
    <a ng-href="/profile/{{match.id}}" class="tm-tag tm-tag-grey">See More ...</a>

    <ol class="tm-match-days">
      <li ng-class="evaluateDay(match.data['availability']['sunday']);">Su</li>
      <li ng-class="evaluateDay(match.data['availability']['monday']);">Mo</li>
      <li ng-class="evaluateDay(match.data['availability']['tuesday']);">Tu</li>
      <li ng-class="evaluateDay(match.data['availability']['wednesday']);">We</li>
      <li ng-class="evaluateDay(match.data['availability']['thursday']);">Tr</li>
      <li ng-class="evaluateDay(match.data['availability']['friday']);">Fr</li>
      <li ng-class="evaluateDay(match.data['availability']['saturday']);">Sa</li>
    </ol>
    <!-- .tm-match-days -->

  </li>
  <!-- .tm-match -->
</ol>
<!-- #tm-matches -->

