<h1>Matches</h1>




<ol>
  <li ng-repeat="match in matches">
    {{match.data["first_name"]}} | 
    {{match.data["age"]}} | 
    {{match.data["gender"]}} |    
    {{match.data["summary"]}} | 

    <span ng-if="match.data['location']['offroad'] == true">Off Road</span>
    <span ng-if="match.data['location']['paved_trail'] == true">Paved Trail</span>
    <span ng-if="match.data['location']['road'] == true">Road</span>
    <span ng-if="
      match.data['location']['offroad'] == false &&
      match.data['location']['paved_trail'] == false &&
      match.data['location']['road'] == false">No preferred location.</span>

    <span ng-if="match.data['looking_for']['training'] == true">Off Road</span>
    <span ng-if="match.data['looking_for']['fun'] == true">Paved Trail</span>
    <span ng-if="match.data['looking_for']['commuting'] == true">Road</span>
    <span ng-if="match.data['looking_for']['destination'] == true">Road</span>
    <span ng-if="
      match.data['looking_for']['training'] == false &&
      match.data['looking_for']['fun'] == false &&
      match.data['looking_for']['commuting'] == false &&
      match.data['looking_for']['destination'] == false">No preferred purpose.</span>

    <span ng-if="match.data['scene']['weekend_warrior'] == true">Weekend Warrior</span>
    <span ng-if="match.data['scene']['commuter'] == true">Commuter</span>
    <span ng-if="match.data['scene']['mountain'] == true">Mountain Biking</span>
    <span ng-if="match.data['scene']['fixies'] == true">Fixed Gear</span>
    <span ng-if="match.data['scene']['social'] == true">Social</span>
    <span ng-if="match.data['scene']['roadie'] == true">Roadie</span>
    <span ng-if="
      match.data['scene']['weekend_warrior'] == false &&
      match.data['scene']['commuter'] == false &&
      match.data['scene']['mountain'] == false &&
      match.data['scene']['fixies'] == false &&
      match.data['scene']['social'] == false &&
      match.data['scene']['roadie'] == false">No preferred scene.</span>

    <span ng-if="match.data['skill']['beginner'] == true">Beginner</span>
    <span ng-if="match.data['skill']['intermediate'] == true">Intermediate</span>
    <span ng-if="match.data['skill']['advanced'] == true">Advanced</span>

    <ul>
      <li>Sunday:
        <span ng-if="match.data['availability']['sunday']">{{match.data['availability']['sunday']}}</span>
        <span ng-if="!match.data['availability']['sunday']">Not Available.</span>
      </li>
      <li>Monday:
        <span ng-if="match.data['availability']['monday']">{{match.data['availability']['monday']}}</span>
        <span ng-if="!match.data['availability']['monday']">Not Available.</span>
      </li>
      <li>Tuesday:
        <span ng-if="match.data['availability']['tuesday']">{{match.data['availability']['tuesday']}}</span>
        <span ng-if="!match.data['availability']['tuesday']">Not Available.</span>
      </li>
      <li>Wednesday:
        <span ng-if="match.data['availability']['wednesday']">{{match.data['availability']['wednesday']}}</span>
        <span ng-if="!match.data['availability']['wednesday']">Not Available.</span>
      </li>
      <li>Thursday:
        <span ng-if="match.data['availability']['thursday']">{{match.data['availability']['thursday']}}</span>
        <span ng-if="!match.data['availability']['thursday']">Not Available.</span>
      </li>
      <li>Friday:
        <span ng-if="match.data['availability']['friday']">{{match.data['availability']['friday']}}</span>
        <span ng-if="!match.data['availability']['friday']">Not Available.</span>
      </li>
      <li>Saturday:
        <span ng-if="match.data['availability']['saturday']">{{match.data['availability']['saturday']}}</span>
        <span ng-if="!match.data['availability']['saturday']">Not Available.</span>
      </li>
    </ul>

    <br />
    <hr />
  </li>
</ol>

<hr />

{{matches}}