<!DOCTYPE html>
<html>
<head>
  <title>Tandem</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "iphone", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
  <div id="iphone">
    <div style="height: 579px; width: 340px; padding: 114px 25px 110px 29px;">
      <%= yield %>
    </div>
  </div>
</body>
</html>